extends base.pug
include mixins/video

block content 
    div.video-grid
        each video in videos 
            +video(video)
        else 
            div.message-container
                span.empty__message Sorry, we couldn't find any video.