extends base.pug

block content 
    div#videoContainer
        video(src="/" + video.fileUrl)
        div#videoControls
            div#playBtnContainer 
                i(class="fas fa-play")#play 
            div#timeContainer
                span#currentTime 0:00
                span  / 
                span#totalTime 0:00
            div#timelineContainer
                input(type="range", step="1", value="0", min="0")#timeline
            div#volumeNFullscreenContainer
                input(type="range", step="0.1", min="0", max="1")#volume
                i(class="fas fa-volume-up")#mute
                i(class="fas fa-expand")#fullScreen

block script 
    script(src="/static/js/videoPlayer.js") 