div.social-login
    a(href=`https://github.com/login/oauth/authorize?client_id=${process.env.GH_CLIENT}&scope=read:user user:email&allow_signup=false`).social__btn.social__btn--github
        i.fab.fa-github
        |  Continue with Github &rarr;